.category-settings-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .categories-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.8rem;
  }

  .categories-body {
    padding: 0.5rem 0.8rem;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: var(--background);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent);
      border-radius: 8px;
    }

    .category-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid var(--secondary-border);
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      .category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .category-body {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .category-icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: var(--accent);
            color: white;
            padding: 4px;

            .small-icon {
              scale: (0.8);
            }
          }

          .category-title {
            color: black;
            font-size: 14px;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
          }
        }

        .category-footer {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .sub-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.3rem 2rem;
        border-bottom: 1px solid var(--secondary-border);
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
