<div class="rules-container right-modal" *ngIf="isOpened" [@sideModalOpenClose] (swiperight)="onSwipeRight()">
  <div class="rules-container-header">
    <mat-icon svgIcon="arrow-left" class="gray-icon small-icon" (click)="closeModal()"></mat-icon>
    <div><b>Rules</b></div>
    <mat-icon svgIcon="add-circle" class="active small-icon" (click)="addRule()"></mat-icon>
  </div>

  <div class="rules-container-body">
    <app-loader *ngIf="isLoading"></app-loader>

    <div *ngFor="let rule of rules">
      <div class="rule" *ngIf="rule.assignCategory">
        <div class="rule-header">
          <mat-icon svgIcon="{{ rule.assignCategory.icon }}"></mat-icon>
        </div>
        <div class="rule-body">
          <div>if transaction
            name {{ rule.condition.type.value === ConditionTypeEnum.TEXT_CONTAINS ? 'contains' : 'is' }}
            <b class="black-text">{{ rule.condition.textToApply }}</b></div>
          <div>assign category <b class="black-text">{{ rule.assignCategory.name }}</b></div>
        </div>
      </div>
      <div class="rule" *ngIf="rule.markAsTransferToAccount">
        <div class="rule-header">
          <mat-icon svgIcon="{{ rule.markAsTransferToAccount.type.iconName }}"></mat-icon>
        </div>
        <div class="rule-body">
          <div>if transaction
            name {{ rule.condition.type.value === ConditionTypeEnum.TEXT_CONTAINS ? 'contains' : 'is' }}
            <b class="black-text">{{ rule.condition.textToApply }}</b></div>
          <div>mark it as transfer to <b class="black-text">{{ rule.markAsTransferToAccount.name }}</b></div>
        </div>
      </div>
      <div class="rule" *ngIf="rule.markAsTransferFromAccount">
        <div class="rule-header">
          <mat-icon svgIcon="{{ rule.markAsTransferFromAccount.type.iconName }}"></mat-icon>
        </div>
        <div class="rule-body">
          <div>if transaction
            name {{ rule.condition.type.value === ConditionTypeEnum.TEXT_CONTAINS ? 'contains' : 'is' }}
            <b class="black-text">{{ rule.condition.textToApply }}</b></div>
          <div>mark it as transfer from <b class="black-text">{{ rule.markAsTransferFromAccount.name }}</b></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-create-rule *ngIf="isOpened"></app-create-rule>
