.transaction-create-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem;
  z-index: 8;

  .transaction-create-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tab-button-create {
      padding-top: 0.28rem;
      padding-bottom: 0.28rem;
    }
  }

  .transaction-create-body {
    padding-top: 1rem;


    .transaction-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--secondary-border);

      .transaction-amount {
        font-size: 20px;
        padding-bottom: 0.18rem;
      }

      .transaction-name-input {
        width: 100%;
        padding: 0.36rem 1rem;
        text-align: center;
        border-radius: 8px;
        border: 1px solid var(--secondary-border);
        outline: none;
        font-size: 0.9rem;
        font-weight: 550;

        &:focus {
          border: 1px solid var(--accent);
        }
      }

      .transaction-date {
        padding-top: 0.5rem;
        width: 100%;
        text-align: end;

        input[type="date"] {
          background-color: var(--background);
          border: none;
          outline: none;
          color: var(--secondary-text);
          font-size: 14px;
          border-radius: 5px;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
          margin-left: -9px;
          color: var(--accent) !important;
          cursor: pointer;
        }
      }
    }

    .transaction-body {

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .transaction-account {
        display: flex;
        align-items: center;
        gap: 8px;
        border-bottom: 1px solid var(--secondary-border);
        padding: 0.5rem;
        cursor: pointer;
      }

      .transaction-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--secondary-border);
        padding: 0.5rem;
        cursor: pointer;

        .transaction-category-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
        }

        input {
          width: 40px;
          text-align: center;
          border: none;
          border-bottom: 1px solid var(--accent);
          background-color: var(--background);
          padding: 0.1rem 0;
        }
      }

      .transaction-to-account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--secondary-border);
        padding: 0.5rem;
        cursor: pointer;

        .transaction-to-account-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
        }

        input {
          width: 40px;
          text-align: center;
          border: none;
          border-bottom: 1px solid var(--accent);
          background-color: var(--background);
          padding: 0.1rem 0;
        }
      }

      .transaction-notes {
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 0.4rem 0.5rem 0.5rem;
        gap: 1px;

        .notes-icon-container {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: start;
          justify-content: center;
          padding-right: 8px;

          .notes-icon {
            width: 24px;
            height: 24px;
          }
        }

        .notes-textarea-container {
          width: 100%;

          textarea {
            width: 100%;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            line-height: 1.1;
            height: 300px;
            resize: none;
            border: none;
            font-family: "Nunito Sans", sans-serif;
            background-color: var(--background);
            margin-top: 0.18rem;
            outline: none;
            cursor: pointer;
          }
        }
      }
    }
  }

}

